@import url(./__about/results__about.css);
@import url(./__news/results__news.css);
@import url(./__title/results__title.css);
@import url(./__button/results__button.css);

.results {
  background-color: #f5f6f7;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 1023px) {
  .results {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .results {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
