.about__photo {
  width: 464px;
  height: 464px;
  min-width: 464px;
  min-height: 464px;
  margin-right: 56px;
  border-radius: 50%;
}

@media screen and (max-width: 1023px) {
  .about__photo {
    width: 232px;
    height: 232px;
    min-width: 232px;
    min-height: 232px;
    margin-right: 32px;
  }
}

@media screen and (max-width: 767px) {
  .about__photo {
    width: 70%;
    height: 70%;
    margin: 0;
    min-width: 272px;
    min-height: 272px;
  }
}
