.results__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0 0 0 104px;
}

@media screen and (max-width: 1023px) {
  .results__title {
    font-size: 1.9rem;
    margin: 0 0 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .results__title {
    max-width: 280px;
    margin: 0 0 0 16px;
  }
}
