@import url(_selected/menu__link_selected.css);
@import url(_not-logged/menu__link_not-logged.css);
@import url(_logged/menu__link_logged.css);
@import url(_black/menu__link_black.css);

.menu__link {
  align-self: center;
  font-size: 1.12rem;
  font-weight: 900;
  text-decoration: none;
  color: #b6bcbf;
  cursor: pointer;
}

.menu__link:hover {
  color: white;
}

@media screen and (max-width: 1023px) {
  .menu__link {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .menu__link {
    font-size: 1.12rem;
    color: white;
  }
}
