@import url(./_hide/auth-form__error-message_hide.css);
@import url(./_usr-exists/auth-form__error-message_usr-exists.css);
.auth-form__error-message {
  display: inline-block;
  width: 100%;
  color: #ff0000;
  font-size: 0.8rem;
  margin: 0;
}
